---
import type { CollectionEntry } from 'astro:content'
import { marked } from 'marked'

export interface Props {
  child: CollectionEntry<'wish_list'>,
}

const { child } = Astro.props
const text = await marked.parseInline(child.data.text ?? '')
---

<li set:html={text} class:list={[{ owned: child.data.is_owned }]}></li>

<style>
  li.owned {
    text-decoration: line-through;
  }
</style>
