---
import type { CollectionEntry } from 'astro:content'
import { marked } from 'marked'
import ChildEntry from './ChildEntry.astro'

export interface Props {
  item: CollectionEntry<'wish_list'>,
  children: CollectionEntry<'wish_list'>[],
}

const { item, children } = Astro.props
const text = await marked.parseInline(item.data.text ?? '')
---

<details>
  <summary class:list={[{ owned: item.data.is_owned }]}>
    <p set:html={text}></p>
  </summary>

  <ul>
    {children.map(child => <ChildEntry {child} />)}
  </ul>
</details>

<style>
  summary {
    display: flex;
    flex-flow: row nowrap;
    column-gap: var(--space-3xs);

    cursor: pointer;

    &::before {
      content: '→';
      transition: transform 0.15s ease-in-out;
    }
  }

  details[open] summary::before {
    transform: rotate(0.25turn);
  }
  
  summary.owned {
    text-decoration: line-through;
  }
  
  ul {
    padding-block-start: var(--space-3xs);
    padding-inline-start: var(--space-xs);

    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--space-3xs);

    font-size: var(--fs--1);

    list-style: square;
  }
</style>
