---
import Page from '../layouts/Page.astro'
import Title from '../components/Title.astro'
---

<Page title="Blog">
  <div slot="content">
    <Title>
      <span class="text-2xl">✏️</span> Blog
    </Title>

    <div class="mt-6 prose prose-yellow">
      <p>This is awkward...</p>
      <p>
        So, I haven't actually written any posts yet. I needed somewhere for that
        link you clicked to go, so I made this page while I work on writing about
        what I'm doing.
      </p>
    </div>
  </div>
</Page>