---
import Page from '../layouts/Page.astro'
import Title from '../components/Title.astro'
---

<Page title="Now">
  <div slot="content">
    <Title>
      <span class="text-2xl">📍</span> Where is my focus now?
    </Title>

    <div class="mt-6 prose prose-yellow">
      <p>
        My wife and I are trying to <em class="not-italic font-bold">raise our
        four kids right</em>. That takes most of my non-work time these days
        between making sure they're fed and entertained, breaking up arguments,
        and playing lots of games. Some days are better than others, but I'd
        like to think that the trend is up.
      </p>
      <p>
        We're <em class="not-italic font-bold">leading and trying to growing our
        small group</em> we launched in February of 2020 (great time) . It's
        been an exercise in taking a more active role in the discipleship
        efforts at our church and we've definitely stretched ourselves in the
        process.
      </p>
      <p>
        I started full time as the production director for our campus of The
        Summit this year, so I'm trying to <em class="not-italic font-bold">get
        the hang of running production for a whole campus</em>. I love getting
        to focus on leading my team of volunteers and making services excellent.
        A major project I'm working on is <em class="not-italic font-bold">
        creating a Slack app</em> for our campus production teams to report
        service runtimes.
      </p>
      <p>
        I'm also <em class="not-italic font-bold">learning frontend
        development</em>. This site is a part of that as well as some of the toy
        side-projects I sink time into.
      </p>

      <p class="text-xs text-gray-500">
        Last updated on the 23rd of October 2021. Inspired by
        <a class="underline" href="https://sive.rs/nowff">Derek Sivers</a>.
      </p>
    </div>
  </div>
</Page>
