---
import Page from '$layouts/Page.astro'
import Title from '$components/Title.astro'
---

<Page title="Projects">
  <div slot="content">
    <Title>
      <span class="text-2xl">🚧</span> Projects
    </Title>

    <p class="mt-6 prose prose-yellow">
      You're looking at my current project right now! There's not a lot here
      because I'm actively working on it.
    </p>
  </div>
</Page>
