---
import { getCollection } from 'astro:content'
import { order } from '../util/wish_list/sorting'
import Contents from '../components/wish_list/Contents.astro'
import Section from '../components/wish_list/Section.astro'
import Base from '../layouts/Base.astro'

const wish_list = await getCollection('wish_list')
wish_list.sort(order)

const categories = [
  "Connections",
  "Fun",
  "Books",
  "Art",
  "Apparel",
  "Home",
  "Technology",
  "Tools",
]
---

<Base>
  
  <header>

    <h1>/wish</h1>

    <p>
      A collection of things around the internet (and off the internet) that I'd love to own. These are things I'd buy myself. Browse the whole list or jump to one of these categories:
    </p>
      
    <Contents {categories} />

  </header>

  <main>

    {categories.map(category => {
      let items = wish_list.filter(({ data: item }) => {
        return item.category !== undefined &&
                item.category === category
      })

      return <Section {category} {items} />
    })}

  </main>

  <footer>

    <p>
      Inspired by <a href="https://taylor.town/wish-manifesto">&ldquo;Make a /wish page&rdquo; at taylor.town</a>, where Taylor talks about all the reasons he made one and how to go about it.
    </p>

  </footer>

</Base>

<style>
  body {
    max-width: 70ch;

    display: flex;
    flex-flow: column nowrap;
    gap: var(--space-l);
  }

  header {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--space-s)
  }

  header p {
    font-size: var(--fs-1);
  }
  
  footer {
    font-size: var(--fs--1);
  }
</style>
