<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ryanq &middot; /wish</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/inter.css">
	</head>

	<body class="table-grid">

		<header class="flow">
      <h1 class="pull-out">/wish</h1>
      
      <p>
        This is my wishlist page. The things on here are what I would buy for me. Think of it like an
        Amazon wishlist, but it can have non-Amazon things on it (didn't you used to be able to do
        that?) or even just ideas.
      </p>
  
      <ul class="toc">
        <li><a href="#books">Books</a></li>
        <li><a href="#home">Home</a></li>
        <li><a href="#garden">Garden</a></li>
        <li><a href="#art">Art</a></li>
        <li><a href="#apparel">Apparel</a></li>
        <li><a href="#tech">Tech</a></li>
        <li><a href="#tools">Tools</a></li>
        <li><a href="#fun">Fun</a></li>
      </ul>
    </header>

    <h2 id="books">Books</h2>

    <table>
      <thead class="visually-hidden">
        <tr> <th>Price</th> <th>Item</th> </tr>
      </thead>
      <tbody>
        <tr> <td>$20</td> <td><a href="https://amazon.com/dp/1594202230"><cite>Shop Class as Soulcraft</cite></a> by Matthew B. Crawford</td> </tr>
        <tr> <td>$20</td> <td><a href="https://amazon.com/dp/B0C7716FW1"><cite>Slow Productivity</cite></a> (hardcover) by Cal Newport</td> </tr>
        <tr> <td>$20</td> <td><a href="https://amazon.com/dp/1455586692"><cite>Deep Work</cite></a> (hardcover) by Cal Newport</td> </tr>
        <tr> <td>$15</td> <td><a href="https://amazon.com/dp/1455509124"><cite>So Good They Can&apos;t Ignore You</cite></a> (hardcover) by Cal Newport</td> </tr>
        <tr> <td>$40</td> <td><a href="https://amazon.com/dp/0380973464"><cite>Cryptonomicon</cite></a> by Neal Stephenson</td> </tr>
        <tr> <td>$30</td> <td><a href="https://amazon.com/dp/0061474096"><cite>Anathem</cite></a> by Neal Stephenson</td> </tr>
        <tr>   <td>?</td> <td><cite>Wind and Truth</cite> (hardcover) by Brandon Sanderson</td> </tr>
        <tr> <td>$20</td> <td><a href="https://amazon.com/dp/0310531578"><cite>How to Lead When You&apos;re Not in Charge</cite></a> by Clay Scroggins</td> </tr>
        <tr> <td>$20</td> <td><a href="https://amazon.com/dp/0593652967"><cite>Democracy Awakening</cite></a> by Heather Cox Richardson</td> </tr>
        <tr> <td>$20</td> <td><a href="https://amazon.com/dp/0744092396"><cite>The Self-Sufficiency Garden</cite></a> by Huw Richards and Sam Cooper</td> </tr>
        <tr> <td>$30</td> <td><a href="https://amazon.com/dp/0593193822"><cite>Practicing the Way</cite></a> by John Mark Comer</td> </tr>
        <tr> <td>$30</td> <td><a href="https://amazon.com/dp/0525653120"><cite>Live No Lies</cite></a> by John Mark Comer</td> </tr>
        <tr> <td>$40</td> <td><a href="https://amazon.com/dp/0805233636"><cite>Living the Good Life</cite></a> by Helen and Scott Nearing</td></tr>
      </tbody>
    </table>

    <h2 id="home">Home</h2>

    <table>
      <thead class="visually-hidden">
        <tr> <th>Price</th> <th>Item</th> </tr>
      </thead>
      <tbody>
        <tr class="struck">  <td>$50</td> <td><a href="https://www.studioneat.com/products/materialdock">Material Dock Duo</a> by Studio Neat</td> </tr>
        <tr>  <td>$20</td> <td><a href="https://amazon.com/dp/B0CRHGNVNX">Silicone grill shelf mat</a></td> </tr>
        <tr> <td>$300</td> <td><a href="https://www.oneclock.co/">OneClock</a></td> </tr>
        <tr>    <td>?</td> <td>Nice whole-bean coffees. (I generally prefer lighter roasts.)</td> </tr>
        <tr>    <td>?</td> <td>Electric kettle with gooseneck spout</td> </tr>
      </tbody>
    </table>

    <h2 id="garden">Garden</h2>

    <table>
      <thead class="visually-hidden">
        <tr> <th>Price</th> <th>Item</th> </tr>
      </thead>
      <tbody>
        <tr>  <td>$30</td> <td><a href="https://amazon.com/dp/B0BCK7NRBH">Garden knife</a></td> </tr>
        <tr> <td>$250</td> <td><a href="https://www.worx.com/aerocart-wheelbarrow-yard-cart-wg050.html">Aerocart wheelbarrow</a></td> </tr>
      </tbody>
    </table>

    <h2 id="art">Art</h2>

    <table>
      <thead class="visually-hidden">
        <tr> <th>Price</th> <th>Item</th> </tr>
      </thead>
      <tbody>
        <tr> <td>?</td> <td>Prints from <a href="https://www.worldofmoose.com/collections/prints">Moose Allain</a>: "The Lake", "Garden Suburb", and "Stilt Houses"</td> </tr>
        <tr> <td>?</td> <td>Prints from <a href="https://owenpomery.bigcartel.com/products">Owen D. Pomery</a>: the isometric landscapes series</td> </tr>
      </tbody>
    </table>

    <h2 id="apparel">Apparel</h2>

    <table>
      <thead class="visually-hidden">
        <tr> <th>Price</th> <th>Item</th> </tr>
      </thead>
      <tbody>
        <tr>  <td>$70</td> <td><a href="https://dearborndenim.us/collections/belts/products/dark-havana-brown-leather-belt?variant=42637711430">Belt, Dark Havana Brown</a> by Dearborn Denim</td> </tr>
        <tr>  <td>$80</td> <td><a href="https://dearborndenim.us/collections/mens-jeans">Dearborn Denim Jeans</a> tailored fit; dark wash and khaki; 34x34</td> </tr>
        <tr> <td>$130</td> <td><a href="https://mahabis.com/products/curve-slippers?upper=lgsy&_gl=1*icgneq*_up*MQ..*_ga*MTE5NzA4ODAxOC4xNzE4OTgwMDQ1*_ga_8N2M7FLWKR*MTcxODk4MDA0NS4xLjAuMTcxODk4MDA0NS4wLjAuMA..">Mahabis Curve</a> slippers; skane yellow or hekla orange</td> </tr>
      </tbody>
    </table>

    <h2 id="tech">Tech</h2>

    <table>
      <thead class="visually-hidden">
        <tr> <th>Price</th> <th>Item</th> </tr>
      </thead>
      <tbody>
        <tr>   <td>$40</td> <td><a href="https://ohsnap.com/products/snap-4-luxe">Snap 4 Luxe</a> by ohsnap!</td> </tr>
        <tr>  <td>$300</td> <td><a href="https://keebmaker.com/products/corne-36-mx-keyboard?variant=47650437529899">Corne 36 MX split mechanical keyboard</a></td> </tr>
        <tr>  <td>$400</td> <td><a href="https://worklouder.cc/shop/creator-board/">Creator Board [r4] keyboard</a></td> </tr>
        <tr> <td>~$150</td> <td>Over-ear headphones</td> </tr>
      </tbody>
    </table>

    <h2 id="tools">Tools</h2>

    <table>
      <thead class="visually-hidden">
        <tr> <th>Price</th> <th>Item</th> </tr>
      </thead>
      <tbody>
        <tr>  <td>$40</td> <td><a href="https://holstery.com/products/magmaster-pro?variant=41656107270259">MagMaster Pro tool holder</a> by holstery</td> </tr>
        <tr>  <td>$60</td> <td><a href="https://www.etsy.com/listing/1449901691/the-pocket-tool-pouch?variation0=4287465793">Pocket Tool Pouch</a> by Hitch and Timber</td> </tr>
        <tr> <td>~$50</td> <td>Pole saw</td></tr>
      </tbody>
    </table>

    <h2 id="fun">Fun</h2>

    <table>
      <thead class="visually-hidden">
        <tr> <th>Price</th> <th>Item</th> </tr>
      </thead>
      <tbody>
        <tr>
          <td>$30</td>
          <td>
            <details>
              <summary><a href="https://magicpuzzlecompany.com/">Magic Puzzle Company</a> puzzles</summary>
              <ul>
                <li class="struck">The Happy Isles</li>
                <li class="struck">The Mystic Maze</li>
                <li class="struck">The Sunny City</li>
                <li class="struck">The Busy Bistro</li>
                <li>The Crystal Caves</li>
                <li class="struck">The Forest Feast</li>
                <li>The Secret Soup</li>
                <li>The Puzzled Patron</li>
                <li>The Gnomes&apos; Homes</li>
              </ul>
            </details>
          </td>
        </tr>
        <tr> <td>?</td> <td>Cooperative boardgames for kids age 8+</td> </tr>
      </tbody>
    </table>

	</body>
</html>

<style>
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  :root {
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  }

  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  :root {
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  }

  body {
    padding: var(--space-s);
    padding-block: var(--space-xl);

    background-color: snow;
    color: #1a1a1a;

    font-family: "InterVariable", sans-serif;
    font-size: var(--step-0);
    font-optical-sizing: auto;
    line-height: 1.5;
  }

  h1, h2 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }

  h1 { font-size: var(--step-3); }
  h2 { font-size: var(--step-1); }

  p {
    max-width: 60ch;
  }

  a {
    color: darkred;
    text-decoration-style: dotted;
  }

  ul, ol {
    margin: 0;
  }

  table {
    border-collapse: separate;
    border-spacing: var(--space-s) var(--space-2xs);

    a { font-weight: 500; }
  }

  td:first-child {
    text-align: right;
    vertical-align: top;
  }

  .flow {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--space-s);
  }

  .table-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--space-s);
    row-gap: var(--space-m);

    header,
    h1, h2, h3, h4 {
      grid-column: 1 / -1;
    }

    table,
    thead, tbody,
    tr {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
    }

    tr { row-gap: var(--space-s); }
  }

  .pull-out { margin-inline-start: -1ch; }

  .struck {
    text-decoration: line-through 2px;
    text-decoration-color: darkred;
  }

  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .toc {
    display: flex;
    flex-flow: row wrap;
    gap: var(--space-2xs);

    margin: 0;
    padding: 0;
    max-width: 75ch;

    font-size: var(--step--1);
    
    list-style: none;

    a::before { content: '↓ '}

    li:has(+ li){
      display: flex;
      flex-flow: row nowrap;
      gap: var(--space-2xs);
      
      &::after { content: '•'; }
    }
  }
</style>
