---
let links = [
  { name: 'Now', url: '/now' },
  { name: 'GH', url: 'https://github.com/ryanq/ryanq.github.io' },
]
---

<header class="flex items-stretch m-4">
  <a class="grid grid-cols-2 p-4 bg-gray-800 hover:ring-4 ring-gray-800 ring-offset-4" href="/">
    <div class="w-8 h-10 text-3xl text-center text-white font-marker">R</div>
    <div class="w-8 h-10 text-3xl text-center text-white font-marker">y</div>
    <div class="w-8 h-10 text-3xl text-center text-white font-marker">a</div>
    <div class="w-8 h-10 text-3xl text-center text-white font-marker">n</div>
    <div class="w-8 h-10 text-3xl text-center text-transparent transform translate-y-0.5 bg-clip-text bg-gradient-to-br from-yellow-400 to-red-700 font-marker">*</div>
    <div class="w-8 h-10 text-3xl text-center text-white font-marker">Q</div>
  </a>
  <nav class="grid items-start flex-grow grid-cols-1 grid-rows-3 m-4 justify-items-end">
    {links.map(({ name, url }) => {
      return (
        <a class="text-xl font-extrabold tracking-widest text-gray-800 uppercase bg-clip-text bg-gradient-to-br from-yellow-400 to-red-700 hover:text-transparent" href={url}>
          {name}
        </a>
      )
    })}
  </nav>
</header>
